<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 设置使用注解的类所在的包 -->
    <context:component-scan base-package="com.yang.web.controller" />
    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 这里的配置我的理解是视图解析器就是自动给action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->
        <property name="defaultEncoding" value="utf-8" />
        <!-- 文件大小最大值  单位字节（byte）-->
        <property name="maxUploadSize" value="10485760000" />
        <!-- 内存中的最大值 单位字节（byte）-->
        <property name="maxInMemorySize" value="40960" />
    </bean>

    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <!--配合mvc:annotation-driven ，单独使用无作用
    可以参考https://blog.csdn.net/Dongguabai/article/details/83028915-->
    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!--Spring3.1开始的注解 ，映射器和适配器 直接配置处理器映射器和处理器适配器比较麻烦，可以使用注解
    驱动来加载。-->
    <!-- 添加注解驱动 -->
    <!--SpringMVC使用<mvc:annotation-driven>自动加载RequestMappingHandlerMapping-->
    <mvc:annotation-driven>
     <!--   <mvc:message-converters>
            &lt;!&ndash; <ref bean="stringHttpMessageConverter"/>&ndash;&gt;
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>-->
    </mvc:annotation-driven>

    <!--<mvc:default-servlet-handler>自动加载RequestMappingHandlerAdapter-->
    <mvc:default-servlet-handler/>




</beans>